Repository oornnery/portfolio: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, ty-check, rumdl-fmt, rumdl-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: ty-check
        name: ty check
        entry: uv run ty check app
        language: system
        pass_filenames: false
        types: [python]
      - id: rumdl-fmt
        name: rumdl fmt
        entry: uv run rumdl fmt
        language: system
        types: [markdown]
      - id: rumdl-check
        name: rumdl check
        entry: uv run rumdl check
        language: system
        types: [markdown]

lint
  docs/backend.md
  docs/infrastructure.md
Due: rumdl-fmt, rumdl-check

fix version
  pyproject.toml
Due: none

fix CI
  uv.lock
Due: none

chore: harden prod docker profile and standardize image tags
  .env.example
  docker/Dockerfile.prod
  docker/README.md
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  docker/traefik/dynamic/routing.yml
  docs/infrastructure.md
  docs/security.md
Due: rumdl-fmt, rumdl-check

refactor(core): tighten typing and rendering helpers
  app/api/about.py
  app/api/analytics.py
  app/api/contact.py
  app/api/health.py
  app/api/home.py
  app/api/projects.py
  app/core/logger.py
  app/main.py
  app/observability/analytics.py
  app/observability/telemetry.py
  app/rendering/engine.py
Due: ruff-format, ruff-check, ty-check

feat(content): parse structured resume and gist-backed markdown
  app/components/features/resume/about-section.jinja
  app/components/features/resume/certificates-section.jinja
  app/components/features/resume/education-section.jinja
  app/components/features/resume/entry-header.jinja
  app/components/features/resume/experience-section.jinja
  app/components/features/resume/profile-header.jinja
  app/components/features/resume/skills-section.jinja
  app/components/pages/about.jinja
  app/components/ui/avatar.jinja
  app/components/ui/button.jinja
  app/components/ui/content-shell.jinja
  app/components/ui/icon.jinja
  app/components/ui/row.jinja
  app/components/ui/section.jinja
  app/components/ui/tag.jinja
  app/core/config.py
  app/domain/models.py
  app/domain/schemas.py
  app/infrastructure/markdown.py
  app/services/about.py
  app/services/profile.py
  app/services/seo.py
  app/services/types.py
  app/static/files/fabio-souza-resume.txt
  content/about.md
  tests/test_about_markdown_parsing.py
  tests/test_markdown_gist_loading.py
Due: ruff-format, ruff-check, ty-check, rumdl-fmt, rumdl-check

chore(tooling): add frontend and agent workspace metadata
  .agents/skills/fastapi/SKILL.md
  .agents/skills/fastapi/references/dependencies.md
  .agents/skills/fastapi/references/other-tools.md
  .agents/skills/fastapi/references/streaming.md
  .agents/skills/jx/SKILL.md
  .agents/skills/jx/references/integrations.md
  .agents/skills/jx/references/migration-and-tooling.md
  .agents/skills/jx/references/organization-and-patterns.md
  .agents/skills/python/SKILL.md
  .agents/skills/python/references/httpx.md
  .agents/skills/python/references/pydantic.md
  .agents/skills/python/references/pytest.md
  .agents/skills/python/references/rich.md
  .agents/skills/python/references/typer.md
  .agents/skills/python/references/uv.md
  .gitignore
  CLAUDE.md
  package-lock.json
  package.json
  pyproject.toml
  tailwind.config.cjs
  uv.lock
Due: rumdl-fmt, rumdl-check

chore(tooling): update lint and docs for new app layout
  .rumdl.toml
  CLAUDE.md
  README.md
  pyproject.toml
Due: rumdl-fmt, rumdl-check

refactor(blog): reuse card component in post navigation
  app/static/css/style.css
  app/static/css/tailwind.css
  app/templates/pages/blog/post-detail.jinja
Due: none

update new features
  docs/README.md
  docs/architecture.md
  docs/backend.md
  docs/design-system.md
  docs/figma-tokens.md
  docs/frontend.md
Due: rumdl-fmt, rumdl-check

refactor: apply accent token to shared ui components
  app/templates/ui/button.jinja
  app/templates/ui/card.jinja
  app/templates/ui/navbar.jinja
  app/templates/ui/tag.jinja
Due: none

build: regenerate tailwind css
  app/static/css/tailwind.css
Due: none

refactor: reorganize ui/ components into layout/, nav/, card/, form/ subfolders
  app/templates/ui/card/card-heading.jinja
  app/templates/ui/card/card.jinja
  app/templates/ui/form/button.jinja
  app/templates/ui/form/input.jinja
  app/templates/ui/layout/center.jinja
  app/templates/ui/layout/grid.jinja
  app/templates/ui/layout/row.jinja
  app/templates/ui/layout/section.jinja
  app/templates/ui/layout/stack.jinja
  app/templates/ui/nav/breadcrumb.jinja
  app/templates/ui/nav/footer.jinja
  app/templates/ui/nav/navbar.jinja
  app/templates/ui/nav/scroll-indicator.jinja
  app/templates/ui/navbar.jinja
Due: none

fix(ui): consistent tag hover and cursor-pointer on interactive spans
  app/templates/ui/tag.jinja
Due: none

feat(js): add theme mode and palette switcher initialization
  app/static/js/main.js
Due: none

chore: fix jx_check task command in pyproject.toml
  pyproject.toml
Due: none

docs: update design system, frontend, and project docs
  CLAUDE.md
  README.md
  content/about.md
  docs/design-system.md
  docs/figma-tokens.md
  docs/frontend.md
Due: rumdl-fmt, rumdl-check

feat(js): add Stimulus controllers for TOC and reading progress
  app/static/js/src/controllers/reading-progress-controller.js
  app/static/js/src/controllers/toc-controller.js
Due: none

feat(ui): migrate navbar to Alpine CSP — remove inline styles from palette swatches
  app/static/css/style.css
  app/templates/ui/nav/navbar.jinja
Due: none

feat(ui): migrate featured carousel to Alpine CSP + scroll-snap
  app/templates/pages/blog/home.jinja
Due: none

feat(ui): migrate TOC and reading-progress to Stimulus controllers
  app/templates/pages/blog/post-detail.jinja
  app/templates/ui/content-shell.jinja
  tests/test_page_rendering_snapshots.py
Due: ruff-format, ruff-check, ty-check

feat(contact): htmx progressive enhancement for POST /contact
  app/api/contact.py
  app/templates/features/contact/contact-form-fragment.jinja
  app/templates/pages/contact.jinja
Due: ruff-format, ruff-check, ty-check

feat(blog): htmx in-page tag explorer for GET /blog/tags
  app/api/blog.py
  app/templates/features/blog/tag-posts-fragment.jinja
  app/templates/pages/blog/tags.jinja
Due: ruff-format, ruff-check, ty-check

feat: add backend blog articles
  content/blog/api-versioning-strategies.md
  content/blog/async-python-common-mistakes.md
  content/blog/database-migrations-without-downtime.md
  content/blog/git-workflow-for-solo-devs.md
  content/blog/http-caching-practical-guide.md
  content/blog/postgres-query-patterns-for-backend-devs.md
  content/blog/python-type-hints-beyond-basics.md
  content/blog/redis-cache-patterns.md
  content/blog/testing-strategy-for-backend-services.md
Due: rumdl-fmt, rumdl-check

infra: expand signoz dashboards and alerts
  docs/infrastructure.md
  infra/README.md
  infra/signoz/README.md
  infra/signoz/alerts/backend-notification-high-p95-latency.json
  infra/signoz/alerts/frontend-document-load-high-p95-latency.json
  infra/signoz/dashboards/portfolio-frontend-telemetry.json
  infra/signoz/dashboards/portfolio-unified-operations.json
Due: rumdl-fmt, rumdl-check

refactor: remove otel runtime wrapper
  .env.example
  README.md
  app/core/config.py
  app/observability/bootstrap.py
  docs/backend.md
  docs/infrastructure.md
  pyproject.toml
  scripts/run_otel.py
  tests/test_telemetry.py
  usercustomize.py
Due: ruff-format, ruff-check, ty-check, rumdl-fmt, rumdl-check

fix: publish container to site package
  .github/workflows/docker-publish.yml
  README.md
  docs/infrastructure.md
Due: rumdl-fmt, rumdl-check
